[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
pydantic = "*"
dotenv = "*"
mysqlclient = "*"
pyspark = "*"
fastapi = "*"
uvicorn = "*"
apache-airflow = "*"
flake8 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
